[submodule "ThirdPartyLib/cpp-httplib"]
	path = ThirdPartyLib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "ThirdPartyLib/hash-library"]
	path = ThirdPartyLib/hash-library
	url = https://github.com/stbrumme/hash-library
[submodule "apArchitect/Home7Camera/Camera3D"]
	path = apArchitect/Home7Camera/Camera3D
	url = https://github.com/suc1/Camera3D.git
[submodule "/home/cheapx/Samples/src/ROS1/angles"]
	path = /home/cheapx/Samples/src/ROS1/angles
	url = http://192.168.3.250:3000/ROS1/angles.git
